.widget {
  border-style: solid;
  padding: 10px;
  border-color: white;
  border-radius: 10px;
  margin: 20px;
}

.title {
  font-size: 25px;
  margin: 10px;
}

.content {
  font-size: 15px;
}

.navbar {
  margin-top: 40px;
  margin-left: 100px;
  align-items: center;
}

.dropdown {
  margin-left: 10px;
  margin-right: 10px;
}